.container {
    padding: 1rem 3rem 6rem 3rem;
}

.title {
    margin: 2rem 0 4rem 0;
    text-align: center;
}

.portfolio {
    display: flex;
    flex-direction: row;
    gap: 2.5rem 2rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.sample {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 300px;
    position: relative;
    padding: 1rem;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--color-white);
    gap: 2rem;
    cursor: pointer;
}

@media (max-width: 560px){
    .sample {
        gap: 0.5rem;
    }
}

.sample_img_container {
    position: relative;
    height: 200px;
    width: 100%;
}

.sample_textual_content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 0.5rem;
}

@media (max-width: 560px){
    .sample_textual_content {
        flex-direction: column;
        width: 100%;
    }
}

.sample_description {
    color: var(--color-black-light);
    opacity: 0.9;
}