.button_outlined,
.button_filled {
    font-weight: 600;
    font-family: var(--ff-normal);
    padding: 0.5rem 1rem;
    transition: var(--tr-normal);
    cursor: pointer;
    border-radius: 4px;
}

.button_outlined:disabled,
.button_filled:disabled {
    opacity: 0.6;
}

.button_filled {
    color: var(--color-white);
    background-color: var(--color-black);
}

.button_filled:hover {
    background-color: var(--color-black-dark);
}

.button_filled:active {
    background-color: var(--color-primary-light);
}

.button_outlined {
    color: var(--color-black-light);
    background-color: transparent;
    border: 1px solid var(--color-black-light);
}

.button_outlined:hover {
    color: var(--color-white);
    background-color: var(--color-black-light);
    border: 1px solid transparent;
}